@import 'colors';

#connect-button {
  color: $primary-color-dark;
}
#connect-button.disabled {
  color: $text-light;
}

.btn-primary {
  color: $primary-color-dark;
  background-color: $hover-overlay;
}

.btn-primary:hover {
  color: $primary-color-dark;
  background-color: $hover-overlay;
}
.btn-primary:focus {
  color: $primary-color-dark;
  background-color: $hover-overlay;
  box-shadow: 0px 0px 0px 0px;
}

.btn-secondary {
  color: $primary-color-dark;
  background-color: $white;
}
.btn-secondary:hover {
  background-color: $hover-overlay;
}

#open-file-button {
  color: $primary-color-dark;
}
