@import 'colors';

#connect-button {
  color: $primary-color-dark;
}
#connect-button.disabled {
  color: $text-light;
}

.btn-primary {
  color: $primary-color-dark;
  background-color: $hover-overlay;
}

.btn-primary:hover {
  color: $primary-color-dark;
  background-color: $hover-overlay;
}

.btn-secondary {
  color: $primary-color-dark;
  background-color: $white;
}
.btn-secondary:hover {
  background-color: $hover-overlay;
}



#open-file-button {
  color: $primary-color-dark;
}
