$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5252;
$primary-text-color:   #9E9E9E;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;
$white:                #ffffff;


$text-light:          #9E9E9E;
$text-medium:         #757575;
$text-dark:           #616161;
$hover-overlay:        #EEEEEE;
