@import "colors";

@font-face {
  font-family: 'Roboto';
  src:  url('../assets/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/material-design-icons/material-icons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.error-icon {
  text-align: center;
  display: block;
  color: $text-light;
  font-size: 4.5em;
  padding-top: 3%;
}

.sidebar-icon {
  display: inline;
  color: $text-light;

}
