@import 'colors';

.progress {
  margin-top: 15px;
}

.mui-textfield {
  margin-top: 0px;
  padding-top: 5px;
  margin-bottom: 4px;
  color: $secondary-text-color;
}

.mui-textfield > input, mui-textfield > textarea {
  color: $secondary-text-color;
  font-family: 'Roboto';
}

.mui-textfield > input:focus, mui-textfield > textarea:focus {
  color: $secondary-text-color;
}
.mui-textfield > input:focus, .mui-textfield > textarea:focus{
  color: $secondary-text-color;
}

.logs-select {
  padding-top: 15px;
  margin-bottom: 5px;
}

#open-file-button-container {
  padding-left: 0px;
  padding-right: 0px;
}
.location-chooser-form {
  padding-left: 0px;
  padding-right: 5px;
}
.location-chooser-text {
  border-bottom-color: $divider-color;
}


.mui-select {
  margin-right: 7px;
  margin-left: 7px;
  select {
    color: $secondary-text-color;
    font-size: 17px;
  }
}

.log_collect_option {
  display: inline-block;
}

h4.log_collect_option {
  font-size: 16px;
  color: $secondary-text-color;
}

.checkbox-group {
  margin-left: 10px;
  color: $secondary-text-color;
  font-family: "Roboto";
  font-size: 16px;
}


input::input-placeholder {
  color: $primary-color-dark;
}

input[placeholder] {
   //font-weight: bold;
   border-color: $primary-color-dark;
}
