@import 'colors';

.modal-heading {
  text-align: center;
  color: $text-dark;
  margin-left: 10px;
}
.modal-body{
  padding-left: 10px;
  color: $text-dark;
}
#modal-button{
  // margin-bottom: 90%;
  margin-left: 80%;
}

.settings-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
