//This file contains styling for elements on the system into page
.page-title {
  padding-top: 10px;
  padding-bottom: 10px;
}

.version-table {
  td {
    color: $text-medium;
  }
  th {
    color: $text-dark;
  }


}
