<div class='template-container'>

  <!--page title-->
  <div class="page-title">
    <div class="title-text mui--text-dark-secondary mui--text-display2">Log collection</div>
  </div>

  <!--Main progress bar-->
    <div class="mui-col-sm-8 mui-col-md-8 mui-col-lg-8">
      <div class="progress progress-bar">
        <div id="logs-progress-bar" class="determinate" style="width: 0%"></div>
      </div>
      <div>
        <p id="logs-progress-message" class="progress-message"></p>
      </div>
    </div>

    <!-- Log file path chooser -->
    <div class='option-heading mui-col-sm-12 mui-col-md-12 mui-col-lg-12'>
      <legend>Output location</legend>
        <form class="location-chooser-form mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
          <div class="location-chooser-text mui-textfield">
            <input id="logs-location-text" type="text" placeholder="~/Desktop">
          </div>
        </form>
        <div id="open-file-button-container" class="mui-col-sm-2 mui-col-md-2 mui-col-lg-2">
          <button id="open-logs-dir" class="dir-chooser-button btn-secondary mui-btn mui-btn--flat">choose</button>
        </div>
    </div>

    <!-- Options to select -->
    <div class="option-heading mui-col-sm-12 mui-col-md-12 mui-col-lg-8">
      <legend>Options</legend>
      <h4 class="log_collect_option">Collect </h4>
        <form id="num-logs-select" class="log_collect_option">
          <div class="mui-select logs-select  ">
            <select>
              <option>All</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>5</option>
              <option>10</option>
            </select>
          </div>
        </form>
      <h4 class="log_collect_option">logs</h4>
      <div class="checkbox-group log_collect_option">
        <input type="checkbox" id="solo-logs-option">
        <label for="solo-logs-option">
            <span class="check"></span>
            <span class="box"></span>
             Solo
         </label>
      </div>
      <div class="checkbox-group log_collect_option">
         <input type="checkbox" id="controller-log-option" >
         <label for="controller-log-option">
             <span class="check"></span>
             <span class="box"></span>
              Controller
          </label>
        </div>
        <div class="checkbox-group log_collect_option">
           <input type="checkbox" id="zipfile-log-option" >
           <label for="zipfile-log-option">
               <span class="check"></span>
               <span class="box"></span>
                Create zipfile
            </label>
        </div>
    </div>

    <!-- Flight notes -->
    <div class="option-heading mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
        <legend>Flight notes</legend>
        <div class="mui-textfield">
           <textarea id="flight-notes"placeholder="Enter notes from flight"></textarea>
         </div>
         <div>
           <button id="collect-logs-button" class="btn-primary mui-btn">Collect logs</button>
         </div>
    </div>

<!-- Call our logs.js -->
<script type="text/javascript" src="./build/js/logs.js"></script>

<!-- End our template container -->
</div>
