<div>
  <i class="error-icon material-icons">warning</i>
  <h3 class="modal-heading">{{modal_heading}}</h3>
  <p class="modal-body">{{modal_body}}</p>
  <button id="modal-button" class="btn-primary mui-btn">Ok</button>
<div>
