<div>
  <i class="error-icon material-icons">{{modal_type}}</i>
  <h3 class="modal-heading">{{modal_heading}}</h3>
  <p class="modal-body">{{modal_body}}</p>
  <div id="optional-image-el"></div>
  <div id="modal-button-container">
    <button id="optional-button" class="mui-btn mui-btn--flat mui-btn--danger">Cancel</button>
    <button id="modal-button" class="btn-primary mui-btn">Ok</button>
  </div>
<div>
