
  <!--page title-->
  <div class="page-title">
    <div class="mui--text-dark-secondary mui--text-display2">System settings</div>
  </div>
  <!--Main progress bar-->
    <div class="mui-col-sm-10 mui-col-md-10 mui-col-lg-10">
      <div class="progress log-collect-progress-bar">
        <div id="settings-progress-bar" class="determinate" style="width: 68%"></div>
      </div>
    </div>
  <!--container for settings table-->
  <div class="mui-col-sm-10 mui-col-md-10 mui-col-lg-10">
    <!-- Calibration Segment -->
    <legend>Calibration</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
          <tbody>
            <!--Pixhawk Param reset row-->
            <tr>
              <th><button id="accel-calibration-button" class="btn-primary mui-btn">Accel calibration</button></th>
              <th>
                <div class="">
                  <div class="action-description mui--text-subhead">Recalibrate the accelerometer on Solo</div>
                </div>
              </th>
            </tr>
            <!--Pixhaw reboot row-->
            <tr>
              <th><button id="stick-calibration-button" class="btn-primary mui-btn">Stick calibration</button></th>
              <th>
                <div class="settings-cell settings-description">
                  <div class="action-description mui--text-subhead">Initiate a stick calibration procedure on the Solo controller</div>
                </div>
              </th>
            </tr>
          </tbody>
      </table>
    </div>
      <!-- Pixhawk settings segment -->
      <legend>Pixhawk Settings</legend>
      <div class="settings-table">
        <table class="mui-table settings-table">
            <tbody>
              <!--Pixhawk Param reset row-->
              <tr>
                <th><button id="param-reset-button" class="btn-primary mui-btn">Param Reset</button></th>
                <th>
                  <div class="">
                    <div class="action-description mui--text-subhead">Reset all Pixhawk parameters.</div>
                  </div>
                </th>
              </tr>
              <!--Pixhaw reboot row-->
              <tr>
                <th><button id='reboot-button' class="btn-primary mui-btn">Reboot</button></th>
                <th>
                  <div class="settings-cell settings-description">
                    <div class="action-description mui--text-subhead">Reboot the Pixhawk system (will not completely reboot Solo)</div>
                  </div>
                </th>
              </tr>
            </tbody>
        </table>
      </div>

      <!-- System updates-->
      <legend>Update system</legend>
      <form id="location-chooser-form"class="mui-col-sm-6 mui-col-md-6 mui-col-lg-6">
        <div id="location-chooser-text" class="mui-textfield">
          <input type="text" placeholder="Select firmware folder ">
        </div>
      </form>
      <div id="open-file-button-container" class="mui-col-sm-2 mui-col-md-2 mui-col-lg-2">
        <button id="open-file-button" class="btn-secondary mui-btn mui-btn--flat">choose</button>
      </div>

      <div class="settings-table">
        <table class="mui-table settings-table">
            <tbody>
              <!--Pixhawk Param reset row-->
              <tr>
                <th><button class="btn-primary mui-btn">Flash firmware</button></th>
                <th>
                  <div class="">
                    <div class="action-description mui--text-subhead">Flash selected firmware to Solo.</div>
                  </div>
                </th>
              </tr>
            </tbody>
        </table>
      </div>

    <!-- Motor arming segment-->
    <legend>Motor testing</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
          <tbody>
            <!--Pixhawk Param reset row-->
            <tr>
              <th><button class="btn-primary mui-btn">Arm motors</button></th>
              <th>
                <div class="">
                  <div class="action-description mui--text-subhead">Arm Solo motors. USE CAUTION!</div>
                </div>
              </th>
            </tr>
          </tbody>
      </table>
    </div>
    <script type="text/javascript" src="./build/js/settings.js"></script>
  </div>
