
  <!--page title-->
  <div class="page-title">
    <div class="title-text mui--text-dark-secondary mui--text-display2">System settings</div>
  </div>
  <!--Main progress bar-->
    <div class="mui-col-sm-10 mui-col-md-10 mui-col-lg-10">
      <div class="progress progress-bar">
        <div id="settings-progress-bar" class="determinate" style="width: 0%"></div>
      </div>
      <div>
        <p id="settings-progress-message" class="progress-message"></p>
      </div>
    </div>
  <!--container for settings table-->
  <div class="mui-col-sm-10 mui-col-md-10 mui-col-lg-10">
    <!-- Calibration Segment -->
    <legend>Calibration</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
          <tbody>
            <!-- accel cal -->
            <!-- <tr>
              <th><button id="accel-calibration-button" class="btn-primary mui-btn">Accel calibration</button></th>
              <th>
                <div class="">
                  <div class="action-description mui--text-subhead">Recalibrate the accelerometer on Solo</div>
                </div>
              </th>
            </tr>
            <tr> -->
              <th><button id="stick-calibration-button" class="btn-primary mui-btn">Stick calibration</button></th>
              <th>
                <div class="settings-cell settings-description">
                  <div class="action-description mui--text-subhead">Initiate a stick calibration procedure on the Solo controller</div>
                </div>
              </th>
            </tr>
          </tbody>
      </table>
    </div>

    <!-- Resest system-->
    <legend>Reset settings</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
        <tbody>
          <!-- Factory reset -->
          <tr>
            <th><button id="factory-reset-button" class="btn-primary mui-btn">Factory reset</button></th>
            <th>
              <div class="">
                <div class="action-description mui--text-subhead">Restore Solo to factor firmware. Will require re-pairing.</div>
              </div>
            </th>
          </tr>
          <!-- System settings reset -->
          <tr>
            <th><button id="settings-reset-button" class="btn-primary mui-btn">Settings reset</button></th>
            <th>
              <div class="">
                <div class="action-description mui--text-subhead">Restores all Solo settings to defaults. Does not require re-pairing.</div>
              </div>
            </th>
          </tr>
        </tody>
      </table>
    </div>

    <!-- Pixhawk settings segment -->
    <!-- PIXHAWK SETTINGS ARE DISABLED FOR NOW
    <legend>Pixhawk Settings</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
          <tbody>
            <tr>
              <th><button id="param-reset-button" class="btn-primary mui-btn">Param Reset</button></th>
              <th>
                <div class="">
                  <div class="action-description mui--text-subhead">Reset all Pixhawk parameters.</div>
                </div>
              </th>
            </tr>
            <tr>
              <th><button id='reboot-button' class="btn-primary mui-btn">Reboot</button></th>
              <th>
                <div class="settings-cell settings-description">
                  <div class="action-description mui--text-subhead">Reboot the Pixhawk system (will not completely reboot Solo)</div>
                </div>
              </th>
            </tr>
          </tbody>
      </table>
    </div>

    PIXHAWK UPDATING DISABLED FOR NOW-->

      <!-- Firmware updates-->
      <legend>Update firmware</legend>
      <!-- Option checkboxes -->
      <div>
        <h4 class="firmware-collect-option">Apply update to </h4>
          <form id="firmware-devices-select" class="log_collect_option">
            <div class="mui-select firmware-select">
              <select>
                <option>Controller and Solo</option>
                <option>Solo only</option>
                <option>Controller only</option>
              </select>
            </div>
          </form>
      </div>
      <form class="location-chooser-form mui-col-sm-8 mui-col-md-8 mui-col-lg-8">
        <div id="location-chooser-text" class="mui-textfield">
          <input id="firmware-location" type="text" placeholder="Select firmware folder ">
        </div>
      </form>
      <div id="open-file-button-container" class="mui-col-sm-2 mui-col-md-2 mui-col-lg-2">
        <button id="open-firmware-dir" class="dir-chooser-button btn-secondary mui-btn mui-btn--flat">choose</button>
      </div>

      <div class="settings-table">
        <table class="mui-table settings-table">
            <tbody>
              <!--Pixhawk Param reset row-->
              <tr>
                <th><button id="update-firmware-button" class="btn-primary mui-btn">Update firmware</button></th>
                <th>
                  <div class="">
                    <div class="action-description mui--text-subhead">Flash selected firmware to Solo.</div>
                  </div>
                </th>
              </tr>

            </tbody>
        </table>
      </div>



    <!-- Motor arming segment-->
    <!--
    <legend>Motor testing</legend>
    <div class="settings-table">
      <table class="mui-table settings-table">
          <tbody>
            <tr>
              <th><button class="btn-primary mui-btn">Arm motors</button></th>
              <th>
                <div class="">
                  <div class="action-description mui--text-subhead">Arm Solo motors. USE CAUTION!</div>
                </div>
              </th>
            </tr>
          </tbody>
      </table>
    </div> -->
    <script type="text/javascript" src="./build/js/settings.js"></script>
  </div>
